<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ceshi.helloworld"
    android:versionCode="2"
    android:versionName="2.0.0">

    <!-- &lt;!&ndash; 网络权限 &ndash;&gt; -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" /> <!-- SD卡读写权限 -->
    <!-- 以下是下载的相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:name=".net.CommonData"
        android:allowBackup="true"
        android:icon="@drawable/aiinbilogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, label,theme">

        <!-- 主页 -->
        <!-- &lt;!&ndash; 学习基本布局和控件 &ndash;&gt; -->
        <activity android:name=".OneActivity">

        </activity>

        <!-- 2.学习简单的网络请求 -->
        <activity android:name=".InputGoodsActivity"></activity> <!-- &lt;!&ndash; 3.权限控制相关的获取 &ndash;&gt; -->
        <activity android:name=".ConTrolActivity">

        </activity>
        <activity android:name=".CarItemsActicity"></activity>
        <activity android:name=".FinishActivity">




        </activity>
        <activity android:name=".payWayActivity">

        </activity>
        <activity android:name=".payexeamActivity">

        </activity>
        <activity android:name=".NewIndexActivity">

        </activity>

        <activity android:name=".WaitingFinishActivity">


        </activity>
        <activity android:name=".PayFailActivity">


        </activity>
        <activity android:name=".NewPrintActivity">


        </activity>
        <activity
            android:name=".IndexActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>


        <!-- 这里的intent-filter  MAIN表示进入的第一个页面  现在启动app进入的第一个页面就是这个 -->
        <activity android:name=".PosLoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />  <!--&lt;!&ndash;//这一句属性 的意思要设置其作为初始启动Activity&ndash;&gt;-->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.HOME" />   <!--&lt;!&ndash;用于返回的首界面，和上面差不多&ndash;&gt;-->
                <category android:name="android.intent.category.LAUNCHER" />   <!--&lt;!&ndash;让 Activity 在顶层启动器中显示&ndash;&gt;-->
            </intent-filter>
        </activity>

        <!--// 指向v4包里的FileProvider类-->
        <provider

            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ceshi.helloworld.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/apk_provider_paths" /> <!--// 用于设置FileProvider的文件访问路径-->
        </provider>


        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>


    </application>




    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />






    <!--以下是给打印机提供的打印权限部分-->
    <uses-feature android:name="android.hardware.usb.host" />
    <!-- WIFIManage permission -->
    <!-- Allows applications to access information about networks -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows applications to access information about Wi-Fi networks -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Allows applications to enter Wi-Fi Multicast mode -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- SDCard permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.wifi" />

    <!-- Bluetooth permission -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


</manifest>